<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.softwaretest"
    android:versionCode="100"
    android:versionName="10.0">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="ACTION_MANAGE_OVERLAY_PERMISSION"/>

    <application
        android:name=".BaseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="手写插件"
        android:theme="@style/AppTheme">


        <service
            android:name=".HWService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- 默认Activity不工作，丢人 -->
        </activity>
        <activity android:name=".InputViewActivity">

            <!-- 手写demo -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.googlecode.openwnn.legacy.OpenWnnZHCN"
            android:exported="true"
            android:label="中"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_zhcn" />
        </service>

        <activity android:name="com.googlecode.openwnn.legacy.ZH.CN.UserDictionaryToolsListZHCN" />
        <activity
            android:name="com.googlecode.openwnn.legacy.ZH.CN.UserDictionaryToolsEditZHCN"
            android:label="中文字典" />
    </application>

</manifest>